.main {
  padding: 1rem;
  max-width: 640px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}